.photo-gallery {
    display: grid;
    grid-gap: 10px;
  }
  
  .photo-gallery img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 768px) {
    .photo-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .photo-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .photo-gallery img:nth-of-type(3) {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
  }